# Better Auth Configuration
BETTER_AUTH_SECRET=1IWUz7oK14TWAsCEy0tdRDIunG9qApgZ
NEXT_PUBLIC_BETTER_AUTH_URL="http://localhost:3000"
BETTER_AUTH_URL="http://localhost:3000"
BETTER_AUTH_TRUST_HOST="true"

# Database Configuration
DATABASE_URL="postgresql://neondb_owner:npg_dQxI6bev8yCq@ep-wispy-salad-adnoqxlk-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
DATABASE_URL_DEV="postgresql://neondb_owner:npg_dQxI6bev8yCq@ep-wispy-salad-adnoqxlk-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
TEST_DATABASE_URL="postgresql://neondb_owner:npg_dQxI6bev8yCq@ep-wispy-salad-adnoqxlk-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# JWT Configuration
JWT_SECRET_KEY="28P9ePf7qvHI3fuw9yF2r6eyuVKxryGg"
JWT_ALGORITHM="HS256"
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30

# Application Configuration
APP_NAME="TASKAPP"
API_V1_STR="/api/v1"
DEBUG=True

# API URL for backend
NEXT_PUBLIC_API_URL="http://localhost:8000"